html,body {
    height: 100%;
    overflow: hidden;
    color: #333;
    font-size: 14px;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: #F0F0F0 url(/images/public/background.gif) repeat;
    padding: 0 0 0 240px;
}
.left {
    position: fixed;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #F8F8F8;
    border-right: 1px solid #E5E5E5;
}
.right {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.nav {
    margin: 20px 10px 0;
    padding: 10px 25px 0 25px;
    font-size: 14px;
    border-top: 1px solid #E5E5E5;
}
.nav ul li {
    line-height: 28px;
    cursor: pointer;
}
.nav ul li a {
    display: block;
}
.nav ul li span {
    display: block;
    width: 0;
    height: 2px;
    background-color: #0072DE;
    transition: all 0.3s ease 0s;
}
.nav ul li:hover span {
    width: 100%;
}
.nav ul li.active span {
    width: 100%;
}
.aboutme {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 12px;
}
.aboutme p {
    padding: 0 10px;
}
.aboutme .head-wrap {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.aboutme .head-wrap img {
    width: 100%;
    display: block;
}
.aboutme h4 {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}
.aboutme .fa-map-marker {
    margin: 0 10px 0 0;
}
.aboutme .location {
    padding: 10px 0 0 0;
}

.abouthis-wrap, .html-wrap, .css-wrap, .javascript-wrap, .tools-wrap {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* abouthis 部分 */
.abouthis-wrap {
    background-color: #FAFAFA;
    padding: 98px 40px 0;
}
.abouthis-wrap .description {
    width: 680px;
    margin: 0 0 0 10%;
}
.abouthis-wrap p {
    line-height: 1.5;
    margin-bottom: 20px;
}
.abouthis-wrap p a {
    color: #3E62A6;
    text-decoration: underline;
}
.abouthis-wrap .title {
    padding-bottom: 5px;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 25px;
}
.abouthis-wrap .title h1 {
    font-size: 22px;
}


/* html 部分 */
.html-wrap  {
    background-color: #FAFAFA;
    overflow-x: hidden;
    overflow-y: scroll;
}
.html-wrap .article-box {
    width: 680px;
    margin: 0 auto;
    padding: 98px 0 0 0;
}
.html-wrap .article {
    width: 100%;
    height: 260px;
    background-color: #C6EDF4;
    position: relative;
    margin-bottom: 70px;
}
.html-wrap .article:hover {
    background-color: #C3EAF1;
}
.html-wrap .article .head-back {
    width: 110px;
    height: 110px;
    background-color: #FAFAFA;
    border-radius: 100%;
    position: absolute;
    top: -55px;
    left: -55px;
}
.html-wrap .article .head-back .head {
    width: 80px;
    height: 80px;
    margin: 15px;
    border-radius: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}
.html-wrap .article .head-back .head .img-html {
    width: 66px;
    margin: 9px 7px 7px;
}
