<div class="abouthis-wrap">
    <div class="description">
        <div class="title">
            <h1>关于博客</h1>
        </div>
        <p>
            前端工作已经五个月了，随着学习和工作的深入，越发的感觉自己诸多的不足，于是便诞生了这个博客，想要记录一下自己学习的过程，并欣然将之分享给其他可能会需要的人，希望此博客能对其他一些初加入的Web开发工程师起到便利和帮助。
        </p>
        <p>
            这个静态博客系统是采用 AngularJS 编写，无他原因，仅是自己的需要希望加以练习和学习。
        </p>
        <p>
            所有代码我都会尽我可能加以适当的注释，你可以采用开发者模式查看，或者可以直接到 Github 中查看我的源码，希望可以对你起到一些帮助。
        </p>
        <p>
            2015.06.07
        </p>
    </div>
</div>
