<div class="html-wrap">
    <div class="article-box">
        <div class="article">
            <div class="head-back">
                <div class="head">
                    <img class="img-html" src="images/public/html5_logo_512.jpg">
                </div>
            </div>
        </div>
        <div class="article css">
            <div class="head-back">
                <div class="head">
                    <img class="img-html" src="images/public/css3_logo_512.jpg">
                </div>
            </div>
        </div>
        <div class="article">
            <div class="head-back">
                <div class="head">
                    <img style="width:80px;" src="images/public/javascript_logo_512.png">
                </div>
            </div>
        </div>
    </div>
</div>
